{% extends 'base.html' %}
{% block title %}Forgot Password{% endblock %}
{% load static %}
{% block content %}

<section id="forgot-password" class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card py-5">
          <div class="card-header bg-dark text-white">
            <h4>Forgot Password</h4>
          </div>

          <div class="card-body">
            <!-- Alert Messages -->
            {% include 'partials/_alerts.html' %}

            <form method="POST">
              {% csrf_token %}
              <div class="form-group mb-3">
                <label for="email" class="form-label">Enter your email address:</label>
                <input type="email" class="form-control" name="email" required 
                       placeholder="example@gmail.com"
                       pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                       title="Please enter a valid email address.">
              </div>

              <button type="submit" class="btn btn-primary w-100">Send Reset Link</button>
            </form>

            <div class="mt-3">
              <a href="{% url 'login' %}">Back to Login</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
